In [1]:
import pandas as pd

In [2]:
column_names = [f'V{i}' for i in range(1, 87)]

In [4]:
df = pd.read_csv('../data/raw/ticdata2000.txt' , delimiter= '\t' , names = column_names)

In [5]:
print(df.shape)

(5822, 86)

In [6]:
print(df.head())

   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V77  V78  V79  V80  V81  V82  \
0  33   1   3   2   8   0   5   1   3    7  ...    0    0    0    1    0    0
1  37   1   2   2   8   1   4   1   4    6  ...    0    0    0    1    0    0
2  37   1   2   2   8   0   4   2   4    3  ...    0    0    0    1    0    0
3   9   1   3   3   3   2   3   2   4    5  ...    0    0    0    1    0    0
4  40   1   4   2  10   1   4   1   4    7  ...    0    0    0    1    0    0

   V83  V84  V85  V86
0    0    0    0    0
1    0    0    0    0
2    0    0    0    0
3    0    0    0    0
4    0    0    0    0

[5 rows x 86 columns]

In [7]:
print(df.describe())

                V1           V2           V3           V4           V5  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean     24.253349     1.110615     2.678805     2.991240     5.773617
std      12.846706     0.405842     0.789835     0.814589     2.856760
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%      10.000000     1.000000     2.000000     2.000000     3.000000
50%      30.000000     1.000000     3.000000     3.000000     7.000000
75%      35.000000     1.000000     3.000000     3.000000     8.000000
max      41.000000    10.000000     5.000000     6.000000    10.000000

                V6           V7           V8           V9          V10  ...  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000  ...
mean      0.696496     4.626932     1.069907     3.258502     6.183442  ...
std       1.003234     1.715843     1.017503     1.597647     1.909482  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     4.000000     0.000000     2.000000     5.000000  ...
50%       0.000000     5.000000     1.000000     3.000000     6.000000  ...
75%       1.000000     6.000000     2.000000     4.000000     7.000000  ...
max       9.000000     9.000000     5.000000     9.000000     9.000000  ...

               V77          V78          V79          V80          V81  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean      0.005325     0.006527     0.004638     0.570079     0.000515
std       0.072782     0.080532     0.077403     0.562058     0.022696
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     1.000000     0.000000
75%       0.000000     0.000000     0.000000     1.000000     0.000000
max       1.000000     1.000000     2.000000     7.000000     1.000000

               V82          V83          V84          V85          V86
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean      0.006012     0.031776     0.007901     0.014256     0.059773
std       0.081632     0.210986     0.090463     0.119996     0.237087
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       2.000000     3.000000     2.000000     2.000000     1.000000

[8 rows x 86 columns]

In [8]:
print(df.isnull().sum())

V1     0
V2     0
V3     0
V4     0
V5     0
      ..
V82    0
V83    0
V84    0
V85    0
V86    0
Length: 86, dtype: int64

In [11]:
df.to_csv('../data/processed/insurance_cleaned.csv' , index = False)